.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
}

.header {
  background-color: green;
  grid-column: span 4;
}

.content {
  background-color: tomato;
  grid-column: 1 / -2;
  grid-row: 2 / span 2;
}

.nav {
  background-color: teal;
  grid-row: 2 / -2;
}

.footer {
  background-color: orange;
  grid-column: 1 / 5;
}

/*  grid-template-row 로 세로 크기를,
    grid-template-column으로 가로 크기를 조절할 수 있다.
    그리고 gap을 이용해 각 박스의 간격을 조정할 수 있다. */

/*  grid 반복을 할때는 repeat(개수, 크기) 로 작성하면 된다.
    그리고 grid-template-area로 얼마나 영역을 차지할지를 시각적으로
    제작할 수 있다. 그리고 grid-area로 각 클래스에 지정을 해줘야 이 기능이
    작동을 한다. 작성할 때는 문자열이 아닌 이름 그대로 적어야 한다. */

/*  grid-column-start / end , grid-row-start / end로
    각 영역을 '늘릴' 수 있다. 늘리는 기준은 line으로, 4개의 */

/*  위에 적었던 grid-column-start 이런 것들을 한번에 줄일 수 있다.
    grid-column: 시작 위치 / 끝 위치;  이렇게 적으면 된다. 
    그리고 마지막 위치까지 늘리기 위해 이전에는 5, 4 이렇게 위치를 파악해
    작성했는데, 그냥 -1을 쓰면 끝까지 늘어나게 된다.
    (전체 다 늘리는데) 이것도 귀찮으면 span을 쓰고 cell 개수를 쓰면 된다.*/
