.grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
}

.header {
  background-color: green;
  grid-column-start: 1;
  grid-column-end: 5;
}

.content {
  background-color: tomato;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
}

.nav {
  background-color: teal;
  grid-row-start: 2;
  grid-row-end: 4;
}

.footer {
  background-color: orange;
  grid-column-start: 1;
  grid-column-end: 5;
}

/*  grid-template-row 로 세로 크기를,
    grid-template-column으로 가로 크기를 조절할 수 있다.
    그리고 gap을 이용해 각 박스의 간격을 조정할 수 있다. */

/*  grid 반복을 할때는 repeat(개수, 크기) 로 작성하면 된다.
    그리고 grid-template-area로 얼마나 영역을 차지할지를 시각적으로
    제작할 수 있다. 그리고 grid-area로 각 클래스에 지정을 해줘야 이 기능이
    작동을 한다. 작성할 때는 문자열이 아닌 이름 그대로 적어야 한다. */

/*  grid-column-start / end , grid-row-start / end로
    각 영역을 '늘릴' 수 있다. 늘리는 기준은 line으로, 4개의 */
