.father {
  display: flex;

  /* Main Axis */
  justify-content: space-around;

  flex-direction: row-reverse;
  align-content: space-between;
  height: 90vh;
  flex-wrap: wrap;
}

.child {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  color: white;
  font-size: 30px;
  text-align: center;
}
