.father {
  display: flex;
  /* Main Axis */

  justify-content: space-between;
}

.child {
  flex-basis: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  color: white;
  font-size: 30px;
}

.child:nth-child(2) {
  background-color: black;
}

/* flex-shrink는 화면이 줄어들 때 효과이고
   flex-grow는 화면이 늘어날 때 효과이다. */
