$color: royalblue;
$size: 10px;

.container {
  background-color: $color;
  width: 150px;
  height: 150px;
  font: {
    weight: bold;
    size: $size;
    family: sans-serif;
  }
  margin: {
    top: $size;
    left: $size;
  }
  padding: {
    top: $size;
    bottom: $size;
    left: $size;
    right: $size;
  }
}
